In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
# from dataprep.eda import create_report

import warnings 
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
df = pd.read_excel('Data_Train.xlsx')

In [3]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
# check shaoe()
df.shape

(10683, 11)

In [5]:
## check all missing values

df.isna().sum()

#  just 2 mssing values

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [6]:
df.info()

# this also explain which data is null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [7]:
# remove missing data
df.dropna(inplace = True)

In [8]:
df.isna().sum()
# now our data is clean

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [9]:
# check datatype of function
df.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [15]:
def change_format(i):
    df[i]= pd.to_datetime(df[i])
    return df
for i in ['Date_of_Journey','Dep_Time', 'Arrival_Time']:
    change_format(i)

In [12]:
#again check dtypes
df.dtypes

Airline                    object
Date_of_Journey    datetime64[ns]
Source                     object
Destination                object
Route                      object
Dep_Time           datetime64[ns]
Arrival_Time       datetime64[ns]
Duration                   object
Total_Stops                object
Additional_Info            object
Price                       int64
dtype: object

In [ ]:
# extract day & month from date
def extract_day_month():
    df['Journey_Day']= pd.DatetimeIndex(df['Date_of_Journey']).day
    df['Journey_Month'] = pd.DatetimeIndex(df['Date_of_Journey']).month
    #     df['month'] = dt.datetime.month
    return df
extract_day_month()

In [ ]:
# extract hour min from time
def extract_hour(df,col):
    df[col + "_hour"]=df[col].dt.hour
    df[col + "_minutes"]=df[col].dt.minute
#     df[col + "_sec"]=df[col].dt.second
    return df
extract_hour(df , 'Dep_Time')
extract_hour(df , 'Arrival_Time')

In [ ]:
# # Now seprate min & hour from duration
# s = df['Duration']
# duration = s.str.split(expand=True)
# # duration = s.str.split(' ')[0][0:-1]
# # # final_df = pd.concat([df, duration], axis =1 )
# # # final_df
# # duration.rename(columns = {0 :'Duration Hours', 1 : 'Duration minutes'}, inplace = True)
# duration

duration=list(df['Duration'])

for i in range(len(duration)):
    if len(duration[i].split(' '))==2:
        pass
    else:
        if 'h' in duration[i]:                   # Check if duration contains only hour
            duration[i]=duration[i] + ' 0m'      # Adds 0 minute
        else:
            duration[i]='0h '+ duration[i]       # if duration contains only second, Adds 0 hour
            
duration


def hour(x):
    return x.split(' ')[0][0:-1]
def minutes(x):
    return x.split(' ')[1][0:-1
df['Duration_hours']=df['Duration'].apply(hour)
df['Duration_mins']=df['Duration'].apply(min)

In [ ]:
# # rename columns
# final_df.rename(columns = {0 :'Duration Hours', 1 : 'Duration minutes'})

# # drop Date_of_Journey, Dep_Time Arrival_Time Duration as we dont need it anymore
# final_df.drop(columns = ['Date_of_Journey', 'Dep_Time' , 'Arrival_Time' , 'Duration'])

In [ ]:
# graph to show which airline has maximum flight 
df['Airline'].value_counts().plot(kind='bar',title='Airline Name', figsize=(16,9))

In [ ]:
# graph btw price & airline
# it shows jet airline has high price
plt.figure(figsize=(20,10))
sns.boxplot(y='Price',x='Airline',data=df.sort_values('Price',ascending=False))

In [ ]:
df.describe()

In [ ]:
df.describe(include='all')

In [ ]:
df.drop(['Date_of_Journey', 'Dep_Time', 'Arrival_Time'], axis= 1, inplace = True)

## Categorical Data

ML just Understand integer or numbers so convert categorical data into numbers 
so in this function catagorical data is obtained from the dataset

In [ ]:
cat_data = []
for i in df.columns:
    if df[i].dtype=='O':
        cat_data.append(i)

In [ ]:
# def cat_data():
#     cat_data = []
#     for i in df.columns:
#         if df[i].dtype=='O':
#             cat_data.append(i)
#     return cat_data
# cat_data()

In [ ]:
cont_col = []
for i in df.columns:
    if df[i].dtype!='O':
        cont_col.append(i)

In [ ]:
cont_col

In [ ]:
categorical=df[cat_data]
categorical.head()

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
len(categorical['Airline'].unique())

In [ ]:
Source=pd.get_dummies(categorical['Source'], drop_first=True)
Source.head()

In [ ]:
Destination=pd.get_dummies(categorical['Destination'], drop_first=True)
Destination.head()

In [ ]:
categorical['Route_1']=categorical['Route'].str.split('→').str[0]
categorical['Route_2']=categorical['Route'].str.split('→').str[1]
categorical['Route_3']=categorical['Route'].str.split('→').str[2]
categorical['Route_4']=categorical['Route'].str.split('→').str[3]
categorical['Route_5']=categorical['Route'].str.split('→').str[4]

In [ ]:
categorical.head()

In [ ]:
categorical['Route_1'].fillna('None',inplace=True)
categorical['Route_2'].fillna('None',inplace=True)
categorical['Route_3'].fillna('None',inplace=True)
categorical['Route_4'].fillna('None',inplace=True)
categorical['Route_5'].fillna('None',inplace=True)

In [ ]:
#now extract how many categories in each cat_feature
for feature in categorical.columns:
    print('{} has total {} categories \n'.format(feature,len(categorical[feature].value_counts())))

### as we will see we have lots of features in Route , one hot encoding will not be a better option so appply Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [ ]:
for i in ['Route_1', 'Route_2', 'Route_3', 'Route_4','Route_5']:
    categorical[i]=encoder.fit_transform(categorical[i])

In [ ]:

categorical.drop('Additional_Info', axis =1)
categorical.drop('Route', axis = 1)

In [ ]:
# As this is case of Ordinal Categorical type we perform LabelEncoder
# Here Values are assigned with corresponding key

dict={'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3, '4 stops':4}

categorical['Total_Stops']=categorical['Total_Stops'].map(dict)

In [ ]:
# As Airline is Nominal Categorical data we will perform OneHotEncoding
Airline=pd.get_dummies(categorical['Airline'], drop_first=True)
Airline.head()

In [ ]:
df[cont_col]

In [ ]:
df[cont_col]

In [ ]:
 ## Concatenate dataframe --> categorical + Airline + Source + Destination

df=pd.concat([categorical,Airline,Source,Destination,df[cont_col]],axis=1)
df.columns

In [ ]:
## final dataset
df.drop(['Airline', 'Source','Destination','Route','Duration','Additional_Info'], axis = 1, inplace =True)

In [ ]:
df

In [ ]:
### separate independent & dependent data

x=df.drop('Price',axis=1)
x.head()
y=df['Price']
y.head()

In [ ]:
## split dataset into train & test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
X_train.dtypes

In [ ]:
# from xgboost import XGBRegressor
# model =  XGBRegressor()
# model.fit(x_train,y_train)

from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train,y_train)

# Label Encoder to handle airline

In [ ]:

from sklearn.preprocessing import LabelEncoder

# creating instance of labelencoder
labelencoder = LabelEncoder()

# Assigning numerical values and storing in another column
categorical['Airlines_Cat'] = labelencoder.fit_transform(df['Airline'])
df

# Label encoder for source

In [ ]:
labelencoder = LabelEncoder()

# Assigning numerical values and storing in another column
categorical['categorical'] = labelencoder.fit_transform(df['Source'])
df

### label encoder for Destination

In [ ]:
df['Destination_cat'] = labelencoder.fit_transform(df['Destination'])
df

## Label encoder for route

In [ ]:
df['Route_cat'] = labelencoder.fit_transform(df['Route'])

df